<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="migration-pg-iris.ZPM">
    <Module>
      <Name>migration-pg-iris</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.test.PKG"/>
    </Module>
  </Document>
</Export>